<h1><%= @client.first_name() %> <%= @client.last_name %></h1>

<h3><em>Stylist: <a href="/stylists/<%= @my_stylist.id() %>"><button class="btn btn-default"><%= @my_stylist.name() %></button></a></h3><br>

<a href="/clients/<%= @client.id() %>/edit"><button class="btn btn-warning">Edit</button></a>

<form action="/clients/<%= @client.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete <%= @client.first_name() %></button>
</form>
<a href="/"><button class="btn btn-info">Home</button></a>
