<h1><%= @stylist.name() %></h1>

<% if @stylist.clients().any?() %>
  <h3>Here are <%= @stylist.name() %>'s clients:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
      <li><%= client.last_name() %>, <%= client.first_name() %></li>
    <% end %>
  </ul>

<% else %>
  <p><%= @stylist.name() %> does not have any clients yet!</p>
<% end %>

<h3>Add a Client:</h3>
<form action="/clients" method="post">
  <input id="stylist_id" type="hidden" name="stylist_id" value="<%= @stylist.id() %>">
  <input id="first_name" name="first_name" type="text" placeholder="First Name"><br>
  <input id="last_name" name="last_name" type="text" placeholder="Last Name"><br>

  <button type="submit" class="btn btn-success">Add Client</button>

</form><br><br>

<a href="/stylists/<%= @stylist.id() %>/edit"><button class="btn btn-warning">Edit <%= @stylist.name() %></button></a>
<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete <%= @stylist.name() %></button>
</form><br><br>

<a href="/"><button class="btn btn-info">Home</button></a><br>
<a href="/stylists"><button class="btn btn-info">New Stylist</button></a><br>
